
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Online Gas Booking System</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link href="static/style.css" rel="stylesheet" type="text/css" media="all"/>
             <link href="static/style1.css" rel="stylesheet" type="text/css" media="all"/>

        <link rel="stylesheet" href="static/style4.css">
        <link rel = stylesheet href = "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
  </script>
        <style>
        #myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th {
  text-align: left;
  padding: 12px;
  background-color:red ;
  color: white;
}


#myTable td {
  text-align: left;
  padding: 12px;
  background-color: DarkSlateGrey;
  color:white;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

body {
  font-family: "Lato", sans-serif;
}



</style>
    </head>

    <body >

        <div class="wrapper" style="width:100%">
            <!-- Sidebar Holder -->
            <nav id="sidebar" style="background-color:blue">
                <div style="padding:20px">
    <img src="{% static 'image/logo.png' %}" style="width:40px;color:white"><span style="font-weight:bold;color:white;font-size:25px;margin-left:10px">OGBS</span>
  </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="{% url 'admin_home' %}">
                            <i class="glyphicon glyphicon-dashboard"></i>
                           Dashboard
                        </a>
                    <li>
                      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                             <i class="glyphicon glyphicon-user"></i>
                           Delivery Staff
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                            <li><a href="{% url 'view_staff' %}">Manage Staff</a></li>
                        </ul>
                        <a href="{% url 'view_user' %}">
                             <i class="glyphicon glyphicon-user"></i>
                           Registared User
                        </a>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-send"></i>
                            Connection
                        </a>

                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li><a href="{% url 'admin_viewconnection' %}">New Connection</a></li>
                            <li><a href="{% url 'admin_onholdconnection' %}">Onhold Connection</a></li>
                            <li><a href="{% url 'admin_approvedconnection' %}">Approved Connection</a></li>
                            <li><a href="{% url 'admin_rejectedconnection' %}">Rejected Connection</a></li>
                        </ul>


                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-print"></i>
                            Booking
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                             <li><a href="{% url 'admin_viewbooking' %}">New Booking</a></li>
                            <li><a href="{% url 'admin_confirmedbooking' %}">Confirmed Booking</a></li>
                            <li><a href="{% url 'admin_onthewaybooking' %}">On The Way Booking</a></li>
                            <li><a href="{% url 'admin_canceledbooking' %}">Canceled Booking</a></li>

                        </ul>
 <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-print"></i>
                            Assign Booking
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu3">

                            <li><a href="{% url 'admin_new' %}">New Assigned Booking</a></li>
                            <li><a href="{% url 'admin_confirmedbooking1' %}">Confirmed Booking</a></li>
                            <li><a href="{% url 'admin_onthewaybooking2' %}">On The Way </a></li>
                            <li><a href="{% url 'admin_delveredbooking1' %}">Delivered</a></li>

                        </ul>

                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-record"></i>
                            Reports
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li><a href="{% url 'booking_report' %}">Booking Report Between Dates </a></li>
                            <li><a href="{% url 'connection_report' %}">Connection Report Between Dates </a></li>

                        </ul>
                        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-search"></i>
                            Search
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu5">
                            <li><a href="{% url 'adminsearch_connection' %}">Search Connection</a></li>
                            <li><a href="{% url 'adminsearch_booking' %}">Search Booking </a></li>
                        </ul>

                </li>


                </ul>

            </nav>

            <!-- Page Content Holder -->
            <div id="content" style="width:100%" >

                <nav class="navbar navbar-default" style="width:100%;margin-bottom:5px">
                    <div class="container-fluid" style="width:100%;background-color:blue;height:50px">

                        <div class="navbar-header" >
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width:100%">
                            <ul class="nav navbar-nav ">
                                <li><a href="{% url 'admin_home' %}" style="margin-left:100px;color:white">Home</a></li>
                                <li><a href="{% url 'all_connection' %}" style="color:white"> Connection</a></li>
                                <li><a href="{% url 'view_staff' %}" style="color:white">Staff</a></li>

                                <li><a href="{% url 'all_booking' %}" style="color:white"> Booking </a></li>

                        <li><a href="{% url 'admin_viewconnection' %}" >
                            <i style="color:white;margin-left:270px;font-size:20px" class="glyphicon glyphicon-bell"></i>

                        </a>
                    </li>
                            <li><a href="{% url 'admin_viewbooking' %}" >
                            <i style="color:black;margin-left:20px;font-size:23px" class="glyphicon glyphicon-bell"></i>

                        </a>
                    </li>
                                 <li><a href="{% url 'logout' %}" style="color:white">  <i style="color:white;margin-left:20px;font-size:20px" class="glyphicon glyphicon-log-out"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                {% block body %}
                {% endblock %}


            </div>

    </body>
</html>
