{% extends 'navigation.html' %}
{% load static %}
{% block body %}

  <div class="carousel-inner" style="height:600px;background-color:mediumseagreen">
    <div>
      <img src="{% static 'image/gas-booking.jpg' %}" style="height:230px;margin-left:40%;margin-top:130px;width:350px">
  </div>
    <div align="center" style="margin-top:30px;font-size:45px;margin-left:150px;color:white;">
      <span style="color:red"> O</span>NLINE <span style="color:red">G</span>AS <span style="color:red">B</span>OOKING <span style="color:red">S</span>YSTEM
    </div>
     <div align="center" style="margin-top:30px;font-size:20px;margin-left:150px;color:black;">
    Book Your Cylinder Online<hr style="background-color:white;height:2px;width:250px">
    </div>

  </div>

{% block b %}
{% endblock %}



{% endblock %}
</div>
