{% extends 'admin_nav.html' %}
{% block body %}
<center>
      <h1 style="font-size:25px; background-color:darkcyan;height:35px;color:white;padding:5px;margin-top:5px;font-family : 'Monotype Corsiva" align="center"> Registered User </h1>

</center>
 <div class="container" style="margin-top:60px;width:90%">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>

    <th> Name</th>
    <th>Email Id</th>
    <th>Mobile </th>

  </tr>
  </thead>
   <tbody>

{% for i in data %}

  <tr >
        <td style="background-color:DarkSlateGrey;color:white">{{forloop.counter}}</td>

        <td style="background-color:DarkSlateGrey;color:white">{{i.user.username}}</td>
        <td style="background-color:DarkSlateGrey;color:white">{{i.user.email}}</td>
        <td style="background-color:DarkSlateGrey;color:white">{{i.mobile}}</td>

  </tr>

   {% endfor %}

    </tbody>
</table>

 </div>
<script>
  {% for i in message %}
  alert("{{i}}")
  {% endfor %}
</script>

<div class="footer" align="center" style=" margin-top:15px; background-color:blue; height:40px;color:white; padding:8px;">
    Online Gas Booking System!!!!
</div>
{% endblock %}
